# Byte-compiled / optimized
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Pickled solutions
*.p

# MOSEK CLI folder
gpkit_tmp/

# gpkit solver build artifacts
gpkit/env/

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/_build/

# CI test xmloutput
test_reports/

# MacOSX
.DS_Store

# IDE / editor
.idea/
*.swp

# Development environment
.venv/

# uv
uv.lock
