name = "Simple Flight"
description = "Minimize drag for a simple aircraft structure model."

[vars]
k          = [1.2, "form factor"]
e          = [0.95, "Oswald efficiency factor"]
mu         = ["1.78e-5 kg/m/s", "viscosity of air"]
rho        = ["1.23 kg/m^3", "density of air"]
tau        = [0.12, "airfoil thickness to chord ratio"]
N_ult      = [3.8, "ultimate load factor"]
V_min      = ["22 m/s", "takeoff speed"]
C_Lmax     = [1.5, "max CL with flaps down"]
S_wetratio = [2.05, "wetted area ratio"]
W_W_coeff1 = ["8.71e-5 1/m", "wing weight coefficient 1"]
W_W_coeff2 = ["45.24 Pa", "wing weight coefficient 2"]
CDA0       = ["0.031 m^2", "fuselage drag area"]
W_0        = ["4940.0 N", "aircraft weight excluding wing"]
pi         = 3.14159265
D   = ["N", "total drag force"]
A   = ["-", "aspect ratio"]
S   = ["m^2", "total wing area"]
V   = ["m/s", "cruising speed"]
W   = ["N", "total aircraft weight"]
Re  = ["-", "Reynolds number"]
C_D = ["-", "drag coefficient"]
C_L = ["-", "lift coefficient"]
C_f = ["-", "skin friction coefficient"]
W_w = ["N", "wing weight"]

[model]
objective = "min: D"
constraints = [
  "C_D >= CDA0/S + k*C_f*S_wetratio + C_L**2/(pi*A*e)",
  "W_w >= W_W_coeff2*S + W_W_coeff1*(N_ult*A**1.5*(W_0*W*S)**0.5)/tau",
  "D >= 0.5*rho*S*C_D*V**2",
  "Re <= (rho/mu)*V*(S/A)**0.5",
  "C_f >= 0.074/Re**0.2",
  "W <= 0.5*rho*S*C_L*V**2",
  "W <= 0.5*rho*S*C_Lmax*V_min**2",
  "W >= W_0 + W_w",
]
