# This workflow runs varous code formatting and linting checks

name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        python-version: "3.11"
    - name: Install
      run: make sync-lint
    - name: Check code formatting
      run: |
        make format
    - name: Lint with flake8
      run: |
        make lint
    - name: Lint imports
      run: |
        uv run lint-imports
    - name: Check for file changes
      run: |
        make check-clean
      
