# This workflow runs pylint

name: pylint

on:
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '0 2 * * *'  # nightly at 2 AM UTC

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        python-version: "3.11"
    - name: Install
      run: uv sync --group lint
    - name: Lint with pylint
      run: |
        make pylint
      
