# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install
      run: uv sync --group test

    - name: Run tests via original runner
      run: |
        make test-unittest

    - name: Run tests with coverage
      run: |
        make test-coverage

    - name: Check for file changes
      run: |
        make check-clean
